@layer global, component, utility;

@layer global {

/* source-sans-3-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/source-sans-3-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* source-sans-3-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/source-sans-3-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Fonts */

:root {
  --fs-14 : calc(14/16 * 1rem);
  --fs-16 : 1rem;
  --fs-24 : calc(24/16 * 1rem);
  --fs-36 : calc(42/16 * 1rem);
  --fs-42 : calc(42/16 * 1rem);
  --fs-48 : calc(72/16 * 1rem);
  --fs-72 : calc(72/16 * 1rem);

  --font-size-top-nav : var(--fs-14);
  --font-size-par : var(--fs-24);
  --font-size-h1 : var(--fs-42);
  --font-size-h2 : var(--fs-36);
  --font-size-h3 : var(--fs-24);
  --font-size-fsize : var(--fs-24);
  

  @media (width >= calc(600/16 * 1rem)) {
    --font-size-top-nav : var(--fs-16);
    --font-size-h1 : var(--fs-72);
    --font-size-h2 : var(--fs-48);
    --font-size-par : var(--fs-28);
    --font-size-fsize : var(--fs-24);
  }
}

/* Colors */

:root {
  --c-white : hsl(0, 0%, 100%);
  --c-grey-dark : hsl(233, 14%, 25%);
  --c-dark-blue : hsl(233, 14%, 25%); 
  --c-blue : hsl(232, 58%, 55%); 
  --c-teal : hsl(180, 100%, 42%);
  --color-transparent : transparent;
  --color-magenta : hsl(320, 85%, 41%);

  --color-main-bg : var(--c-white);
  --color-text-dark : var(--c-grey-dark);
  --color-text-white : var(--c-white);
  --color-hero-bg : var(--c-blue);
  --color-header-bg : var(--c-blue);
  --color-button-primary-bg : var(--c-teal);
  --color-button-primary-text : var(--c-grey-dark);
  --color-button-secondary-bg : var(--color-transparent);
  --color-button-secondary-border : var(--c-white);
  --color-button-secondary-text : var(--c-white);
  --color-button-third-text : var(--c-dark-blue); 
  --color-fullwidth-bg : var(--color-magenta);
}

*, *::after, *::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: 'Source Sans 3', Arial, Helvetica, sans-serif;
  line-height: 1.3;
  color : var(--color-text-dark);
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: var(--font-size-h1);
  color : var(--color-text-white);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

a {
  text-decoration: none;
}

img, picture, svg {
  max-width: 100%;
  display: block;
  height : auto;
}

.wrapper {
  width : min(calc(1200/6 * 1rem), calc(100% - 3rem));
  margin-inline: auto;
  
}
}

@layer component {
  .topnav {
    background-color: var(--color-header-bg);

    .topnav__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-block: 12px;
      padding-inline: 12px;

      @media (width >= calc(600/16 * 1rem)) {
        padding-block: 20px;
        padding-inline: 90px;
      }
    }

    .topnav__homelink {
      &:hover {
        opacity : 0.9;
      }
    }

    .topnav__links {
      display: flex;
      gap: 20px;
      list-style-type: none;
      padding: 0;

      @media (width >= calc(600/16 * 1rem)) {
        gap: 40px; 
      }
    }

    .topnav__logo {
      width : calc(70/16 * 1rem);

      @media (width >= calc(600/16 * 1rem)) {
        width : calc(128/16 * 1rem);
      }
    }

    .topnav__item {}

    .topnav__link {
      font-size: var(--font-size-top-nav);
      font-weight: 700;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
      color : var(--color-text-white);
      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
      }
    }
  }

  .hero {
    background-color: var(--color-header-bg);
    
      
  
    .hero__wrapper {
      
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: space-between;
      padding-block: 12px;
      padding-inline: 12px;
      color: var(--color-text-white);
      flex-direction: column;    
      

      @media (width >= calc(600/16 * 1rem)) {
        padding-block: 80px;
        padding-inline: 90px;
        flex-direction: row;
        gap: 10rem;
         
      }
    }

    .hero_1 {
      order: 2;

      @media (width >= calc(600/16 * 1rem)) {
        order : 1;
      }
    }

    .hero__content h1 {
      
      font-size: var(--font-size-h1);
      padding-bottom: 10px;

      @media (width >= calc(600/16 * 1rem)) {
        padding-bottom: 20px;
      }
    }

    .hero__content p {

      font-size: var(--fs-size-par);
      padding-bottom: 20px;

      @media (width >= calc(600/16 * 1rem)) {
        padding-bottom: 20px;
      }
    }

    .hero__actions {
      display: flex;
      gap: 20px;
      padding-bottom: 80px;
    }

    .btn-primary {
      
      font-size: 12px;
      font-weight: 700;
      color : var(--color-button-primary-text);
      background-color: var(--color-button-primary-bg);
      padding-inline: calc(12 / 16 * 1rem);
      letter-spacing: 0.05rem;
      height : 37px;
      border-radius: calc(999 / 16 * 1rem);
      text-transform: uppercase;
      border: none;
      box-shadow: 0 6px 16px -4px rgba(0, 0, 0, 0.707);

      &:hover {
        box-shadow: 0 6px 16px -4px rgba(0, 0, 0, 0.904);
        cursor: pointer;
        
      }

    }

    .btn-secondary {
      font-size: 12px;
      color : var(--color-button-secondary-text);
      border-radius: calc(999 / 16 * 1rem);
      padding-inline: calc(12 / 16 * 1rem);
      letter-spacing: 0.05rem;
      text-transform: uppercase;
      background-color: var(--color-button-secondary-bg);
      border-color: var(--color-button-secondary-border);
      font-weight: 700;

      &:hover {
        color : var(--color-hero-bg);
        background-color: var(--color-button-secondary-text);
        text-decoration-thickness: 2px;
        border: none;
        cursor: pointer;
      }

    }

    .hero__image img {
      width: 350px;  
      height: auto;
      display: block;
      margin: 0;
      

      @media (width >= calc(600/16 * 1rem)) {
        .hero__image img {
          width: 1000px; 
          max-width: 1000px;
        }
      }
    }

    .hero__image {
      order : 1;

      @media (width >= calc(600/16 * 1rem)) {
        order: 2;
      }
    }

  }


}

@layer utility {
  .visually-hidden {
    position: absolute;
    left:     -10000px;
    top:      auto;
    width:    1px;
    height:   1px;
    overflow: hidden;

  &.skip:focus {
    left: 0;
    width: auto;
    height: auto;
    background: #fff;
    padding: 10px;
    border: 1px solid;
}
}

.features_wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 10px;
  padding-inline: 2px;

  @media (width >= calc(600/16 * 1rem)) {
    flex-direction: row;
    gap: 12rem;
    padding-block: 80px;
    padding-inline: 80px;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  align-items: center;
}


.img_3 img {
  max-width: 60px;

  @media (width >= calc(600/16 * 1rem)) {
    
  }
}
.feature img {
  max-width: 50px;
  height: auto;

  @media (width >= calc(600/16 * 1rem)) {
    margin-left: auto;
    margin-right: auto;
  }
}

.investment_wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
  text-align: center;
  background-color: var(--color-fullwidth-bg);
  flex-direction: column;
  justify-content: space-between;
  padding-block: 40px;
  padding-inline: 30px;
  width: 100%;

  @media (width >= calc(600/16 * 1rem)) {
    gap: 3rem;
    padding-block: 60px;
    padding-inline: 300px;
  }
}

.investment h2 {
  color : var(--color-text-white);
  font-size: 30px;

  @media (width >= calc(600/16 * 1rem)) {
    font-size: 48px;
  }
}

.investment p {
  color : var(--color-text-white);
  font-size: 16px;
  font-weight: 100;

  @media (width >= calc(600/16 * 1rem)) {
    font-size: 24px;
  }
}

.testimonial__wrapper {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 10px;
  padding-inline: 2px;

  @media (width >= calc(600/16 * 1rem)) {
    gap: 2rem;
    padding-block: 75px;
    padding-inline: 322px;
  }
}

  #quote {
   max-width: 52px;
   height: auto;
   
   @media (width >= calc(600/16 * 1rem)) {
    max-width: 78px;
   }
  }

  .testimonial p {
    color : var(--color-text-dark);
    font-size: 24px;
    font-weight: 700;

  @media (width >= calc(600/16 * 1rem)) {
    font-size: 36px;

  }
}
  #moi {
    border-radius: 50%; 
    width: 120px;       
    height: 120px;      
    object-fit: cover;

  }
  
  .user {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    @media (width >= calc(600/16 * 1rem)) {
      flex-direction: row;
  }
  }
  .user p {
    color: var(--c-grey-dark);
    font-weight: 100;
    font-size: 20px;
    text-align: center;

    @media (width >= calc(600/16 * 1rem)) {
    font-size: 24px;
    text-align: left;
  }
  }

  .start__wrapper {
    width : 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    text-align: center;
    padding-block: 100px;
  }

  .color_effect {
  background: linear-gradient(
    90deg,
    #2f2a3d 0%,
    #4f5bd5 50%,
    #16c7d9 100%
  );
}

  .start_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color : var(--color-text-white);
  }

  .start h2 {
    font-size: 32px;

    @media (width >= calc(600/16 * 1rem)) {
      font-size: 48px;
  }
  }

  .start p {
    font-size: 20px;

    @media (width >= calc(600/16 * 1rem)) {
      font-size: 24px;
  }
  }

  .btn-third {
    background-color: var(--c-white);
    color : var(--color-button-third-text);
    font-size: 16px;
    border: 2px solid transparent;
    border-radius: calc(999 / 16 * 1rem);
    height: auto;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-weight: 700;
    width: 130px;
    height: 42px;

    &:hover {
      background-color: var(--color-button-secondary-text);
      text-decoration-thickness: 1px;
      border-color: #2f2a3d;
      cursor: pointer;
      box-shadow: 0 6px 16px -4px rgba(0, 0, 0, 0.504);
    }
  }

}